*{
	font-family: 'Lobster', cursive;

}

.content-global{
	display: flex;
	flex-direction: column;
	
}

.header, .article, .footer{
	padding: 15px;
}

.header{
	background-color: #0D0C0C;
	color: #FFFFFF;
	flex-basis: 60px;
	display: inline-block;
	position: fixed;
	width: 100%;
}





.logo{
	font-size: 40px;
	display: inline-block;
}

.nav{
	display: inline-block;

}


.nav__li{
	display: inline-block;
	padding: 10px 40px;
	color: #fff;

}

.nav__li:hover{
	transition: all 0.5s;
	transform: scale(1.5);
}


.nav__li a{
	color: #fff;
	text-decoration: none;
	

}

a:hover {
	color: #ED9A00;
	transition: all 0.5s;
  	
}

.article{
	background-color: #FFFFFF;
	flex-basis: 300px;
	flex-grow: 2;
	flex-shrink: 0;
}





.footer{
	background-color: #383838;
	color: #FFFFFF;
}





@media screen and (min-width: 700px){
	.content-global{
		display: grid;
		grid-template-rows: 80px 1fr 1fr 1fr 1fr 80px;
		grid-template-columns: repeat(3, 1fr);
	}

	.article{
		margin: 0;
		padding: 0;
		grid-row: 2 / 6;
		grid-column: 1 / span 3;
	}

	.banner{
		height: 550px;
	}

	.banner img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.grid-container{
		margin: 20px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
		grid-auto-rows: 250px;
		grid-gap: 2px;
		justify-items: center;
	}

	.content-product{
		width: 150px;

		
	}

	.product__img{
		background-color: #F5F5F5;
		width: 100%;
		height: 80%;

	}

	.product__img img{
		width: 100%;
		height: 100%;
		object-fit: cover;

	}


	.header{
		grid-column: 1 / span 3;
	}

	.footer{
		grid-row: 6 / 7;
		grid-column: 1 / span 3;
		height: 230px;
	}

	.footer__grid{
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
		grid-auto-rows: 200px;
		grid-gap: 10px;
		justify-items: center;
	}

	.footer__tit{
		font-family: 'sans-serif', bold;
		font-size: 30px;
	}

	.footer__li{
		font-size: 20px;

		padding: 5px;
		color: #fff;
	}

	.footer__li a{
		color: #fff;
		text-decoration: none;
		font-family: 'sans-serif', cursive;
	}
}